<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studens details</title>
</head>
<body>
    <h1>students details:</h1>
    <table style="border:2px solid black;">
        <tr style="border:2px solid black;">
          <th style="border:2px solid black;">student name   </th>
          <th style="border:2px solid black;">city   </th>
          <th style="border:2px solid black;">address   </th>
          <th style="border:2px solid black;">assress pincode   </th>
        </tr>
        {% for data in profile%}
          <tr style="border:2px solid black;">
            <td style="border:2px solid black;">{{data.name}}   </td>
            <td style="border:2px solid black;">{{data.city}}  </td>
            <td style="border:2px solid black;">{{data.addr}}   </td>
            <td style="border:2px solid black;">{{data.pin}}   </td>
          </tr>
        {%endfor%}
    </table>
    <div>add another</div>
    <a href="http://127.0.0.1:5000/">add+</a>
</body>
</html>